.priceBox {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 1.6rem;
  font-family: var(--fraunces);
}

.currentPrice {
  font-size: var(--price);
  color: var(--dark-cyan);

  font-weight: 700;
}

.prePrice {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  opacity: 0.5;
}
